useDynLib(IBHM)
import(Rcpp)
import(DEoptim)
import(cmaes)
import(methods)

export(TrainIBHM)
export(ConfigureIBHM)
export(IterationSC)
export(ValidationSC)


export(predict.IBHM)
export(length.IBHM)
export(summary.IBHM)
export(print.summary.IBHM)
